* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#calendarContainer {
  display: flex;
  flex-direction: column;
  padding: 1%;
  border: solid black 1px;
  border-radius: 2%;
  width: 70%;
  height: 30%;
}

.weekAndDate {
  display: flex;
  justify-content: space-around;
  list-style: none;
  /* justify-content: space-around; */
  width: 100%;
  gap: 1;
}

.dateContainer {
  display: flex;
  flex-direction: column;
}

ul,
li {
  width: 100%;
  height: 77%;
}

.dateContainer button {
  min-height: fit-content;
  display: flex;
  padding-left: 2%;
  margin: 0.05rem;
  height: 100%;
  border: none;
  border-radius: 5px;
  background-color: gray;
}

.days {
  text-align: left;
}

.zero {
  visibility: hidden;
}

/* When on desktop, the calendarContainer should only occupy 50% of the page and be in the middle */
@media screen and (min-width: 768px) {
  /* Typically 768px is used for tablets and above */
  #calendarContainer {
    color: white;
    width: 88%;
    height: 66%;
    max-width: 1400px;
    min-height: 740px;
    margin: 0 auto;
    background-color: #333;
  }

  ul,
  li {
    width: 100%;
    height: 94%;
  }

  .dateContainer button {
    min-height: fit-content;
    display: flex;
    padding-left: 2%;
    margin: 1%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: gray;
  }
}
