* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root {
  min-width: 90%;
}

#calendarContainer {
  display: flex;
  flex-direction: column;
  border: solid red 3px;
  width: 100%; /* Replace 800px with your desired width */
}

#weekAndDate {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
#dateContainer {
  display: flex;
  flex-direction: column;
}

#dateContainer div {
  padding: 50%;
}
