/* app file */

html {
  height: 100%;
  width: 100%;
}
body {
  padding: 5%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
}

#root {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* app file ends */

#container {
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 100%;
  height: 50%;
  border: red 2px solid;
  border-radius: 10px;
  min-width: fit-content;
}

ul {
  list-style: none;
  padding: 0;
}
#day-week-container,
#weekdays,
#days {
  display: flex;
}

#day-week-container {
  flex-direction: column;
}

#weekdays,
#days {
  justify-content: space-between;
}

#weekdays {
  font-size: larger;
}

#date-container {
  width: 100%;
}

#date {
  width: 100%;
  background-color: transparent;
  border: none;
  border-right: red 1px solid;
  border-bottom: red 1px solid;
  padding: 5%;
}
#date:hover {
  background-color: gray;
}

.zero {
  visibility: hidden;
}
