#header-content {
  display: flex;
  align-items: center;
  font-size: medium;
}

#month-year {
  background-color: #669bbc;
  display: flex;
  padding: 0.2rem;
  min-width: 40%;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
}
#prev-next-mon {
  margin-left: auto; /* Align to the right */
  display: flex;
  width: 10%;
  justify-content: space-between;
}

@media screen and (max-width: 450px) {
  #prev-next-mon {
    margin-left: 0%;
  }
}
