#headerContainer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2px black;
  margin-bottom: 1%;
  padding: 1%;
}

#month-year {
  font-size: medium;
}

#prev-next-mon {
  display: flex;
}

.arrow {
  font-size: larger;
  color: white;
  padding: 1% 2%;
  border: none;
  border-radius: 15%;
  background-color: black;
}

/* 
  Don't make the text "Today" vanish always let him his space 

*/
